<!DOCTYPE html>
<html>
<% include ./partials/head.ejs %>
<body>
    <header>
      <h1 class="title">NYC HIKES</h1>

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <% if(user){ %>
           Welcome, <%= user.fname %> <%= user.lname %>
          <% } else { %>
            Welcome, Guest
          <% } %>
          <br>
          <% if(user){ %>
           Favorite Trail: <%= user.ftrail %>
          <% } %>
        <a href="/">Home</a>
        <a href="/user/login">Log In</a>
        <a href="/user/new">Sign Up</a>
        <form method="post" action="user/logout?_method=DELETE">
            <input type="submit" value="Logout" class="logout-btn">
        </form>
      </div>

      <span onclick="openNav()" > <i class="fa fa-bars fa-3x" aria-hidden="true"></i> </span>


    </header>
  <div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="/images/kazimiroff.jpg" alt="kazimiroff" width="460" height="345">
        <div class="carousel-caption">
          <h3>The Kazimiroff Trail in the Bronx</h3>
          <p>The Kazimiroff Nature Trail in Pelham Bay Park includes a stretch of rocky coastline that's reminiscent of what you would expect to see in Maine.</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/marine-park.jpg" alt="marine-park" width="460" height="345">
        <div class="carousel-caption">
          <h3>Marine Park in Brooklyn</h3>
          <p>Located in Salt MArsh Nature Trail in Brooklyn. The Marine Park Nature Trail follows the shore of Gerritsen Creek, which empties into Jamaica Bay. Its second half winds through a prairie of tall grass. </p>
        </div>
      </div>

      <div class="item">
        <img src="images/inwood.jpg" alt="inwood" width="460" height="345">
        <div class="carousel-caption">
          <h3>Blue Trail in Inwood Hill Park, Manhattan</h3>
          <p>The Blue Trail in Inwood Hill Park is indicated by blue markings on the trees. The park is a good place for hikers to see nesting red-tailed hawks and owls, as well as tulip trees.</p>
        </div>
      </div>

      <div class="item">
        <img src="/images/green-belt.jpg" alt="green-belt" width="460" height="345">
        <div class="carousel-caption">
          <h3>Green Belt Trail</h3>
          <p>The Greenbelt on Staten Island boasts over 35 miles of marked hiking trails.</p>
        </div>
      </div>


    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


    <div class="main">
      <div class="mid-div">
        <span class="weath-icons"></span>
        <span class="weath-info"></span>
      </div>
    <h2>Check out NYC's Hike Trails</h2>
      <div class="opt-dropdown">
        <button class="trails-btn">Hike Trails</button>
        <div class="trails-content">

          <ul id="menu">
            <li>Bronx
                <ul class="bronx-locat"></ul>
              </li>
            <li>Manhattan
                <ul class="manh-locat"></ul>
            </li>
            <li>Brooklyn
                <ul class="brook-locat"></ul>
            </li>
            <li>Queens
                <ul class="queens-locat"></ul>
            </li>
            <li>Staten Island
                <ul class="si-locat"></ul>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="bttm-main">
      <div class="left-align">
        <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
        <div id="map"></div>
      </div>
      <div class="right-align"></div>
    </div>
    <footer>
      <div class="top-footer">
        Check out my other stuff
        <div class="mid-footer">
          <span> <a href="http://www.luislithgow.com" target="_blank"><img src="/images/my-icon.ico" alt=""></a> </span>
          <span><a href="https://github.com/LuisLithgow"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a> </span>
          <span><a href="https://twitter.com/Git_Crusader"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></span>
        </div>

      </div>
      <div class="bottom-footer">
        Copyright.2016.NYC HIKES
      </div>
    </footer>



  </div>


  <script src="/js/hike.js"></script>
  <script src="/js/weather.js"></script>
  <!-- GOOGLE MAPS API -->
  <script>
      function initMap() {
        let map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.772945, lng: -73.969808},
          zoom: 10
        });

        let input = document.getElementById('pac-input');

        let autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        let infowindow = new google.maps.InfoWindow();
        let marker = new google.maps.Marker({
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          let place = autocomplete.getPlace();
          if (!place.geometry) {
            return;
          }

          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }

          // Set the position of the marker using the place ID and location.
          marker.setPlace({
            placeId: place.place_id,
            location: place.geometry.location
          });
          marker.setVisible(true);

          infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
              'Place ID: ' + place.place_id + '<br>' +
              place.formatted_address);
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer
      src=<%= "https://maps.googleapis.com/maps/api/js?key="  + process.env.GOOGLEMAPS_API + "&callback=initMap&libraries=places" %> >
    </script>
    <!-- JS function to get the navbar working from w3school -->
    <script>
      function openNav() {
        $("#mySidenav").css("width","250px");
        $("#main").css("margin-left", "250px");
        $('body').css("background-color", "rgba(0,0,0,0.4)");
      }
/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
    function closeNav() {
      $("#mySidenav").css("width", "0");
      $("#main").css("margin-left", "0");
      $('body').css("background-color", "white")
    }
//     function openNav() {
//     document.getElementById("mySidenav").style.width = "100%";
// }

//  Close/hide the sidenav
// function closeNav() {
//     document.getElementById("mySidenav").style.width = "0";
// }
    </script>
</body>
</html>
