<!DOCTYPE html>
<html>
<% include ./partials/head.ejs %>
<body>
  <div class="container">
    <header>
      <h1>NYC HIKES</h1>

    </header>
    <div class="main">
    <h2>Check out NYC's hike trails</h2>
      <div class="opt-dropdown">
        <button class="trails-btn">Hike Trails</button>
        <div class="trails-content">

          <ul id="menu">
            <li>Bronx
                <ul class="bronx-locat"></ul>
              </li>
            <li>Manhattan
                <ul class="manh-locat"></ul>
            </li>
            <li>Brooklyn
                <ul class="brook-locat"></ul>
            </li>
            <li>Queens
                <ul class="queens-locat"></ul>
            </li>
            <li>Staten Island
                <ul class="si-locat"></ul>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="bttm-main">
      <div class="left-align"></div>
      <div class="right-align"></div>
    </div>







  </div>
  <script src="/js/script.js"></script>
</body>
</html>
