html, body {
  height: 100%; margin: 0; padding: 0;
  font-family: 'Roboto', sans-serif !important;
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.opt-dropdown {
    position: relative;
    display: inline-block;
    margin: -4px 33%;
    width: 32%;
}

.trails-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.trails-content ol li {
    /*color: black;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.trails-content ol li:hover {background-color: #4caf50}

.opt-dropdown:hover .trails-content {
    display: block;
}

.opt-dropdown:hover .trails-btn {
    background-color: rgba(255, 255,238, 0.28);
    border-radius: 6px;
}

li ul li {
  text-decoration: underline;
}
.li-color {
  padding: 8px 5px;
  background-color: rgba(255, 255,238, 0.28);
  border-radius: 5px;
  width: 100%
  color: #4CAF50;
  list-style: none;
  font-weight: 600;
}

.ui-menu {
    width: 234px;
    /*height: 300px;*/
}
.right-align {
  float: right;
  margin: 0 auto;
  margin-right: 10px;
  width: 40%;
  margin-left: 10px;
  margin-top: 70px;
}

 .main {
  margin: 0 auto;
  width: 50%;
}

.trails-btn {
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
  background-color: azure;
}

header {
  /*font-family: 'Roboto' !important, sans-serif !important;*/
  background-color: #ffe;
  /*height: 100%;*/
  width: 100%;
  margin-top:10px;
  color:#4caf50;
}

.title {
  /*margin-left: -15px;*/
  background-color: #ffe;
  width: 100%;
  padding: 15px;
  margin-top:-15px;
  font-weight: 200;
}
h2 {
  font-weight: 600;
  margin: 3% 10%;
}

li {
  font-size: 14px;
}

/*Google searcheable maps */
/*STYLES FOR GOOGLE MAPS API*/
#map {
  width: 40%;
  height: 70%;
  position: absolute;
  margin-top: 70px;
  margin-right: 10px;
  margin-left: 14px;
  /*display: block;*/
 }
 .mid-div {
  margin-left: 15px;
 }
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 60%;
}

.controls:focus {
  border-color: #4d90fe;
}

.weath-icons {
  font-size: 30px;
}
/*STYLING FOR BOOTSTRAP CAROUSEL*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}
.form {
  text-align: center;
  margin: 3% 3%;
  width: 100%;
}
form {
  width: 40%;
}

nav {
  /*margin: 2% 20%;*/
  display: -webkit-box;
  float: right;
}

li {
  list-style: none;
}
a li {
  margin-right: 5px;
}

/*w3Schools Nav bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
.container {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

span {
  margin-left: 20px;
}

.logout-btn {
  background-color: #111;
  border:none;
}

footer {
  /*font-family: 'Roboto' !important, sans-serif !important;*/
  background-color: #ffe;
  height: 135px;
  width: 100%;
  margin-top:500px;
  padding-left: 20px;
  padding-top: 10px;
  color:#4caf50;
}

footer div {
  margin:7px 0px;
}

.bottom-footer {
  padding-bottom: 10px;
}
a img {
  height:50px;
  width: 50px;
  border-radius: 40px;
}

.login-footer {
  background-color: #ffe;
  /*height: 135px;*/
  width: 100%;
  margin-top:110px;
  padding-left: 20px;
  /*padding-top: 10px;*/
  color:#4caf50;
}

.newuser-footer {
  background-color: #ffe;
  /*height: 135px;*/
  width: 100%;
  margin-top:50px;
  padding-left: 20px;
  padding-top: 10px;
  color:#4caf50;
}

