html, body {
  height: 100%; margin: 0; padding: 0;
  background: #ffe;
  font-family: 'Roboto', sans-serif !important;
}


.opt-dropdown {
    position: relative;
    display: inline-block;
    margin: -4px 33%;
    width: 32%;
}

.trails-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.trails-content ol li {
    /*color: black;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.trails-content ol li:hover {background-color: #4caf50}

.opt-dropdown:hover .trails-content {
    display: block;
}

.opt-dropdown:hover .trails-btn {
    background-color: #4caf50;
    border-radius: 6px;
}

li ul li {
  text-decoration: underline;
}
.li-color {
  padding: 5px 5px;
  background-color:#ffe;
  width: 100%
  color: #4CAF50;
  list-style: none;
}

.ui-menu {
    width: 234px;
    /*height: 300px;*/
}
.right-align {
  float: right;
  margin: 0 auto;
  width: 40%;
}
 .right-align {
  margin-left: 10px;
  margin-top: 30px;
 }

 .main {
  margin: 0 auto;
  width: 50%;
}

.trails-btn {
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
  background-color: azure;
}

header {
  /*font-family: 'Roboto' !important, sans-serif !important;*/
  background-color: #4caf50;
  /*height: 100%;*/
  width: 100%;
  margin-top:10px;
  color:#ffe;
}

.title {
  /*margin-left: -15px;*/
  background-color: #4caf50;
  width: 100%;
  padding: 15px;
  margin-top:-15px;
  font-weight: 100;
}
h2 {
  font-weight: 600;
  margin: 3% 10%;
}

li {
  font-size: 14px;
}

/*Google searcheable maps */
/*STYLES FOR GOOGLE MAPS API*/
#map {
  width: 35%;
  height: 60%;
  position: absolute;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: -24px;
  /*display: block;*/
 }
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 60%;
}

.controls:focus {
  border-color: #4d90fe;
}




