<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
    <header>
      <h1 class="title">NYC HIKES</h1>

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <% if(user){ %>
           Welcome, <%= user.fname %> <%= user.lname %>
          <% } else { %>
            Welcome, Guest
          <% } %>
        <a href="/">Home</a>
        <a href="/user/login">Log In</a>
        <a href="/user/new">Sign Up</a>
        <a href="#">Contact</a>
        <form method="post" action="user/logout?_method=DELETE">
            <input type="submit" value="Logout" class="logout-btn">
        </form>
      </div>

      <span onclick="openNav()" >open</span>


    </header>

    <div class="form">
      <form action="/user/new" method="post" class="form-group">
        <label for="">First Name:</label>
        <input type="text" name="fname" class="form-control"><br>
        <label for="">Last Name:</label>
        <input type="text" name="lname" class="form-control"><br>
        <label for="">Email:</label>
        <input type="text" name="email" class="form-control"><br>
        <label for="">Password:</label>
        <input type="password" name="password" class="form-control"><br>
        <input type="Submit" value="Create New User" class="form-control">
      </form>
    </div>



    <script>
      function openNav() {
        $("#mySidenav").css("width","250px");
        $("#main").css("margin-left", "250px");
        $('body').css("background-color", "rgba(0,0,0,0.4)");
      }

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
    function closeNav() {
      $("#mySidenav").css("width", "0");
      $("#main").css("margin-left", "0");
      $('body').css("background-color", "white")
    }
//     function openNav() {
//     document.getElementById("mySidenav").style.width = "100%";
// }

//  Close/hide the sidenav
// function closeNav() {
//     document.getElementById("mySidenav").style.width = "0";
// }
    </script>
</body>
</html>
